taverna_n8n_director.json
{
    "name": "Taverna - El Director (Orquestador)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "taverna-director",
                "options": {}
            },
            "id": "1",
            "name": "Webhook (Desde SillyTavern)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "taverna-director-bridge"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:11434/api/generate",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"huihui_ai/deepseek-r1-abliterated:32b-qwen-distill-q6_K\",\n  \"prompt\": \"Eres El Director del juego de rol. Evalúa el siguiente evento y decide si cambia el inventario, monedas o lealtad del personaje.\\nEvento: {{ $json.body.event }}\\nResponde con un JSON estricto para actualizar la DB.\",\n  \"stream\": false,\n  \"format\": \"json\"\n}",
                "options": {}
            },
            "id": "2",
            "name": "Ollama (Director 32B)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "command": "=# Aqui enviariamos comandos CLI hacia el servidor MCP SQLite o ejecutar un script puente Python.\n# Ejemplo simulado:\necho \"Logica del Director recibida: {{ $json.response }}\" >> /home/lucy-ubuntu/Escritorio/Taverna/director.log"
            },
            "id": "3",
            "name": "Actualizar Knowledge/Stats",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook (Desde SillyTavern)": {
            "main": [
                [
                    {
                        "node": "Ollama (Director 32B)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ollama (Director 32B)": {
            "main": [
                [
                    {
                        "node": "Actualizar Knowledge/Stats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {}
}